<html>

<head>
    <title> Daily mascotas </title>
    <link rel="shortcut icon" type="image/jpg" href="/static/img/icon.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">


</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <h4 class="titulo"> <img src="/static/img/icon.png" class="logo"> Daily mascotas </h4>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div style="margin-left: 30%;" class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Usuario
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/get_usuarios">Lista</a>
                        <a class="dropdown-item" href="/create_usuario">Crear Nuevo</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Control Inventario
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/construccion">Entradas</a>
                        <a class="dropdown-item" href="/construccion">Salidas</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Ventas
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/construccion">Compra en Linea</a>
                        <a class="dropdown-item" href="/construccion">Factura de Venta</a>
                        <a class="dropdown-item" href="/construccion">Pago en línea</a>
                        <a class="dropdown-item" href="/construccion">Agendamiento citas</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Administración de Personal
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/construccion">Control de Ingreso Empleado</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pqr">PQRS</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" method="GET" action="/">
        <button class="btn btn-outline-warning"  type="submit">
        <i class="fa fa-sign-out fa-10x"></i> Cerrar Sesión
        </button> 
    </form>
        </div>
        
    </nav>
    {% block content %}
    {% endblock %}
    <footer>
        <div class="container">
            <div class="center">
                <p class="copyright text-muted">&copy; MinTic 2022 - Universidad Industrial Santander Grupo 5</p>
            </div>
        </div>
    </footer>
</body>

</html>