body{
    background-color: white;
}
.logo{
    height: 80px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
footer{
    text-align: center;
}
.titulo{
    color:white;
}


