body{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

.izquierda{
    background: url(./img/fondo.jpg);
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 100vh;
}
.derecha{
    height: 100vh;
    background-color: rgb(196, 150, 81);
    width: 50%;
    
}

#pantalla-dividida {
    display: flex;
}

.titulo{
    color:white;
    text-align: center;
    font-size:xx-large;    
}

.logo{
    width: 15%; 
}

.caja-login{
    width: 320px;
    height: 420px;
    background-image: url(./img/fondo2.jpg);
    color: white;
    position: absolute;
    left: 78%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50px;
    border-bottom-left-radius: 0;
    box-shadow: 1px 1px 67px 37px rgba(87,87,92,0.75);
}

.caja-login h1{
    text-align: center;
}

.caja-login label{
    display: block;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
}

.caja{
    border:none;
    background: transparent;
    border-bottom: 5px solid white;
    height: 40px;
    width: 100%;
    margin-top: 10px;
    color: white;
    font-size: 15px;
}

.boton{
    height: 40px;
    width: 80%;
    background-color: grey;
    color: white;
    font-size: 16px;
    display: block;
    margin-top: 30px;
    border-radius: 20%;
    margin-left: auto;
    margin-right: auto;   
}

.caja-login a{
    display: block;
    font-size: 16px;
    margin-top: 10px;  
    color: white;
    margin-left: auto;
    margin-right: auto;  
}