{% extends "base/base.html" %}
{% block content %}
<div style="align-self: center;">
<h1 style="margin-left: 35%; margin-top: 5%;">Página en construcción</h1>  
<img src="/static/img/4.jpg" class="center">
</div>
{% endblock %}
