{% extends "base/base.html" %}
{% block content %}
<div class="card">
    <div class="card-body">
        <h4>Lista de usuarios</H4>
    </div>
  </div>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Documento</th>
        <th scope="col">Nombres</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Celular</th>
        <th scope="col">Correo Electr&oacute;nico</th>
        <th scope="col">Editar</th>
        <th scope="col">Eliminar</th>
      </tr>
    </thead>
    <tbody>
        {% for registro in usuarios %}
      <tr>
        <th scope="row">{{registro[3]}}</th>
        <td> {{registro[1]}}</td>
        <td>{{registro[2]}}</td>
        <td>{{registro[4]}}</td>
        <td>{{registro[5]}}</td>
        <td><a href="get_usuario/{{registro[0]}}"><img src="/static/img/pencil-square.svg" alt="Editar" width="32" height="32">
          </a></td>
          <td><a href="eliminar_usuario/{{registro[0]}}"><img src="/static/img/trash.svg" alt="Eliminar" width="32" height="32">
          </a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}