<!DOCTYPE html>
<html lang="es">

<head>
    <link rel="stylesheet" href="../static/login.css" />
    <meta charset="UTF-8">
    <title>| login |</title>
</head>

<body>
    <section id="pantalla-dividida">
        <div class="izquierda"></div>
        <div class="derecha" >
            <h1 class="titulo"><img src="/static/img/icon.png" class="logo"></span><span style="vertical-align:middle;">  Daily mascotas </span></h1>
        </div>
        <div class="caja-login">
            <h1>Inicio de Sesión</h1>
            <form method="POST" action='/login'>
                <label>Nombre de Usuario</label>
                <input class="caja" type="text" name="user" required />
                <label>Contraseña</label>
                <input class="caja" type="password" name="password" required />
                <input class="boton" type="submit">
                <h4 style="color: red;">
                    {{message}}
                </h4>
                <a href="#"> Recordar la contraseña</a>
                <a href="#"> Crear una nueva cuenta</a>
            </form>


        </div>

</body>

</html>