{% extends "base/base.html" %}
{% block content %}

<div style="align-self: center;">
<h1 style="margin-left: 35%; margin-top: 5%;">Daily PQRs</h1>  
<section class="form-register">
    <center>
    
    <br>
    
    <form>
       
        Correo electrónico:
          <input type="email" name="correo" id="correo"  placeholder="Ingrese su Correo"/>  <br/><br/>
        Tu mensaje: 
          <textarea name="mensaje" > </textarea> <br/><br/>
          <input type="submit" name="mensaje" id="mensaje"  placeholder="Ingrese su mensaje" value="Enviar ahora"/>
          
        </form>
    
    <p>Estoy de acuerdo con <a href="#">Terminos-Condiciones</a></p>
    <br>
    <br>
    
    <p><a href=".">Volver  a home</a></p></center>
</div>
{% endblock %}