{% extends "base/base.html" %}
{% block content %}
<div class="card">
    <div class="card-body">
        <h4>Usuario</H4>
        <form method="POST" action="{{link}}">
            <div class="form-group">
                <label for="inputCedula">Identificaci&oacute;n</label>
                <input type="text" value="{{usuario[3]}}" required class="form-control" id="inputCedula" name="cedula"
                    placeholder="Identificacion">
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputNombres">Nombres</label>
                    <input type="text" value="{{usuario[1]}}" required class="form-control" id="inputNombres"
                        name="nombres" placeholder="Nombres">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputApellidos">Apellidos</label>
                    <input type="text" value="{{usuario[2]}}" required class="form-control" id="inputApellidos"
                        name="apellidos" placeholder="Apellidos">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail">Correo electr&oacute;nico</label>
                <input type="email" value="{{usuario[5]}}" class="form-control" required id="inputEmail" name="correo"
                    placeholder="Correo">
            </div>
            <div class="form-group">
                <label for="inputCelular">Celular</label>
                <input type="text" value="{{usuario[4]}}" required class="form-control" id="inputCelular" name="celular"
                    placeholder="Celular">
            </div>
            {% if usuario==None %}
            <div class="form-group">
                <label for="inputClave">Contraseña</label>
                <input type="password" required class="form-control" id="inputClave" name="clave">
            </div>
            {% endif %}
            {% if usuario!=None %}
            <input type="hidden" name="clave" value="{{usuario[6]}}">
            {% endif %}
            <button type="submit" class="btn btn btn-success">Guardar</button>
            <button type="button" class="btn btn btn-danger"
                onclick="javascript:location='/get_usuarios'">Volver</button>

        </form>
    </div>
</div>
{% endblock %}